body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}


/* Estilos do Header */
header {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.header-banner {
    width: 100%;
}

.header-banner img {
    width: 100%;
    display: block;
}

.header-content {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    text-align: left;
    color: #1C646D;
}

.header-content h1 {
    font-size: 48px;
    line-height: 1.2;
}

.header-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #211C33;
}



/* Estilos Gerais da Página */
.pagina {
    width: 100%;
    background: #CEF09D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}

.container {
    max-width: 600px;
    text-align: left;
}

.pagina h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1C646D;
}

.pagina p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #1F0802;
}


/* Estilos da Imagem */
.imagem-container {
    width: 612px;
    /* Altere de max-width para width */
    height: 584px;
    /* Especifique a altura */
    position: absolute;
    /* Adicione isso para posicionar a imagem */
    left: 712px;
    /* Posição X */
    top: 642px;
    /* Posição Y */

}

.imagem-container .imagem.visible {
    opacity: 1;
}

/* Seção de Dados sobre Burnout */
.dados-burnout {
    text-align: center;
    padding: 40px 20px;
}

.titulo-burnout {
    font-size: 2em;
    margin-bottom: 20px;
}

.descricao-burnout {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.container-dados {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dado {
    background-color: #ffffff;
    /* Altere esta linha para branco */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    max-width: 200px;
}

.numero {
    font-size: 2em;
    font-weight: bold;
    height: 50px;
    color: #666;
    justify-content: left;
    text-align: left;
}

.texto-dado {
    font-size: 1em;
    color: #666;
    text-align: left;
    /* Alinha o texto à esquerda */
}

/* Botões */
.botao-container {
    margin-top: 20px; /* Espaçamento acima do botão */
    /* adicione esta propriedade para garantir que fique alinhado embaixo */
    width: 100%; /* Para que ocupe toda a largura, se necessário */
    text-align: center; /* Centraliza o botão */

}

.botao-sondagem,
.botao-burnout {
    display: inline-block;
    /* Para permitir espaçamento */
    background-color: #38184C;
    /* Cor do botão */
    color: #fff;
    /* Cor do texto do botão */
    padding: 15px 30px;
    /* Espaçamento interno do botão */
    border-radius: 5px;
    /* Bordas arredondadas do botão */
    text-decoration: none;
    /* Sem decoração no texto */
    font-weight: bold;
    /* Negrito */
    text-align: center;
    /* Centraliza o texto */
    margin-top: 20px;
    /* Margem superior */
    transition: background-color 0.3s ease;
    /* Transição suave para hover */
}

.botao-sondagem:hover,
.botao-burnout:hover {
    background-color: #4E2A6A;
    /* Cor do botão ao passar o mouse */
    cursor: pointer;
    /* Muda o cursor para indicar interatividade */
}

.conteudo-consequencia {
    display: flex;
    /* Usa flexbox para alinhar imagem e texto */
    align-items: center;
    /* Alinha verticalmente ao centro */
    gap: 16px;
    /* Espaçamento entre imagem e texto */
}

.consequencias-burnout {
    background-color: #CEF09D;
    /* Verde claro */
    text-align: center;
    padding: 40px;
    /* Espaçamento interno aumentado para dar um visual mais 'clean' */
    margin-top: 40px;
    border-radius: 6px;
    border: 1px;
    /* Adicionando bordas arredondadas */
}

.titulo-consequencias {
    color: #1C646D;
    /* Cor do título */
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 20px;
    /* Margem inferior para espaçamento */
}

.container-consequencias {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Espaçamento entre os cards */
    flex-wrap: wrap;
    /* Permite quebra de linha se necessário */
    padding: 20px;
    /* Espaçamento interno */
}

.consequencia {
    background-color: #CEF09D;
    height: 152px;
    padding: 16px;
    width: 556px;
    text-align: left;
    /* Alinha texto à esquerda */
    transition: transform 0.2s;
    /* Transição suave para hover */
    gap: 16px;
    border: 1px solid #2A2EDE33;
    border-radius: 6px;
    display: inline-block;
}


.consequencia:hover {
    transform: scale(1.05);
    /* Aumenta o tamanho ao passar o mouse */
}

.consequencia h3 {
    font-size: 24px;
    /* Tamanho do título do card */
    /* Cor do título */
    margin-bottom: 10px;
    /* Margem abaixo do título */
}

.consequencia p {
    width: 408px;
    height: auto;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #1F0802;
    /* Cor do texto */
    padding: 0 0 10px 0;
}

.imagem-consequencias {
    width: 100px;
    /* Largura fixa */
    height: 100px;
    /* Altura fixa */
    margin-bottom: 10px;
    left: 2px;
  
}

.texto-consequencia {
    text-align: left;
    /* Alinha o texto à esquerda */
}

.titulo-card {
    font-size: 20px;
    /* Tamanho do título do card */
    font-weight: 500;
    line-height: 28px;
    color: #000000
        /* Cor do título */
     margin-bottom: 10px;
    /* Margem abaixo do título */
}

.label {

    height: 20px;
    /* Altura fixa */
    padding: 2px 4px;
    /* Espaçamento interno */
    margin: 2px;
    /* Espaçamento entre os rótulos */
    background: #D9D9D980;

    /* Cor de fundo */
    border: 0.5px solid #990069 10%;
    display: inline-block;
    /* Para que a altura e largura funcionem corretamente */
    text-align: center;
    /* Centraliza o texto dentro do rótulo */
    font-weight: bold;
    /* Negrito para os textos das labels */
    border-radius: 6px;
    /* Bordas arredondadas (opcional) */
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
}
.descricao-impacto {
    width: 860px; /* Largura fixa */
    height: 24px; /* Altura fixa */
    font-family: 'Roboto', sans-serif; /* Tipografia */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    line-height: 24px; /* Altura da linha */
    text-align: center; /* Alinhamento do texto */
    color: #1F0802; /* Cor de fundo */
    padding: 4px; 
    opacity: 1;   
}
.imagem-consequencias-lateral {
    width: 180px; /* Largura da imagem */
    height: 180px; /* Altura da imagem */   
    margin-left: 20px;
    
    
} 



