body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
}


/* Estilos do Header */
header {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.header-banner {
    width: 100%;
}

.header-banner img {
    width: 100%;
    display: block;
}

.header-content {
    position: absolute;
    top: 75%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 40px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    text-align: left;
    color: #1C646D;
}

.header-content h1 {
    font-size: 48px;
    line-height: 1.2;
}

.header-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #211C33;    
}



/* Estilos Gerais da Página */
.pagina {
    width: 100%;
    background: #CEF09D;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}

.container {
    max-width: 600px;
    text-align: left;
}

.pagina h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1C646D;
}

.pagina p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color:#1F0802;
}


/* Estilos da Imagem */
.imagem-container {
    width: 612px; /* Altere de max-width para width */
    height: 584px; /* Especifique a altura */
    position: absolute; /* Adicione isso para posicionar a imagem */
    left: 712px; /* Posição X */
    top: 642px; /* Posição Y */
    
}

.imagem-container .imagem.visible {
    opacity: 1;
}

/* Seção de Dados sobre Burnout */
.dados-burnout {
    text-align: center;
    padding: 40px 20px;
}

.titulo-burnout {
    font-size: 2em;
    margin-bottom: 20px;
}

.descricao-burnout {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.container-dados {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dado {
    background-color: #ffffff; /* Altere esta linha para branco */
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 200px;
    max-width: 200px;  
}

.numero {
    font-size: 2em;
    font-weight: bold;
    height: 50px;
    color: #666;
    justify-content: left;
    text-align: left;
}

.texto-dado {
    font-size: 1em;
    color: #666;  
    text-align: left; /* Alinha o texto à esquerda */
}

/* Botões */
.botao-container {
    margin-top: 20px;
}

.botao-sondagem,
.botao-burnout {
    display: inline-block; /* Para permitir espaçamento */
    background-color: #38184C; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 15px 30px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    text-decoration: none; /* Sem decoração no texto */
    font-weight: bold; /* Negrito */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Margem superior */
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

.botao-sondagem:hover,
.botao-burnout:hover {
    background-color: #4E2A6A; /* Cor do botão ao passar o mouse */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}



