
body {
    max-width: 1,440px;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Oculta overflow horizontal */
}

/* Estilizando o Container Principal */
main {
    width: 100%;
    max-width:1100px; 
    margin: 90px auto; 
    padding: 20px; 
}

/* Estilo do Header */
header {
    width: 100%; 
    height: 520px; 
    background: #CEF09D; 
    position: relative; 
    padding: 60px 0px;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    margin-top: 80px; 
}

/* Conteúdo do Header */
.content {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
}

/* Estilo do Contêiner de Texto */
.text-container {
    width: 100%; 
    max-width: 530px;
    height: auto; 
    opacity: 1; /* Corrigi a opacidade; é melhor definir um valor aqui */
    gap: 24px; 
    display: flex; 
    flex-direction: column; 
}

/* Título do Header */
h1 {
    width: 100%;
    height: auto; /* Alterado para auto */
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 40px; 
    line-height: 48px;
    color: #1C646D; 
    margin: 0; 
}

/* Estilo do Parágrafo */
header p {
    width: 100%; 
    height: auto; 
    font-family: 'Roboto'; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 24px; 
    text-align: left; 
    color: #000000;
    margin: 0; 
}

/* Estilo da Imagem */
header img {
    width: 675px; 
    height: 486px; 
    opacity: 1; 
}

/* Estilo dos Títulos das Seções */
h2 {
    font-size: 40px; 
    color: #000000; 
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 20px 0; /* Espaçamento inferior */
}

/* Estilo específico para "O Projeto" - Alinhado à esquerda */
.projeto-titulo {
    text-align: left; /* Alinha o título à esquerda */
    margin: -50px 0 10px 0; /* Margem ajustada: 10px acima e abaixo */
}

.projeto{
font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
list-style-type: none; /* Remove a marcação padrão da lista */
co: #000000;

}


/* Estilo específico para "Missão" - Centralizado */
.missao-titulo {
    text-align: center; /* Centraliza */
    margin: 20px 0 40px 0; /* Margem ajustada: 10px acima e abaixo */
}

/* Estilo da Missão */
.missao {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px; 
    line-height: 24px;
    color: #000000;
    list-style-type: none; /* Remove a marcação padrão da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

.missao li {
    margin-bottom: 15px; /* Espaçamento entre os itens da lista */
    border: 1px solid #e0e0e0; /* Adiciona borda */
    border-radius: 6px; /* Bordas arredondadas */
    padding: 16px; /* Preenchimento interno */
    display: flex; /* Flex para alinhar a imagem e o texto */
    align-items: center; /* Alinha verticalmente o conteúdo */
    gap: 16px;
}



