* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Menu de Navegação */
.menu {
    position: absolute;
    top: 20px;
    left: 220px;
    z-index: 2;
    display: flex;
    font-family: 'Roboto', sans-serif; 
}

.menu ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 141px; 
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    background: #F8F6F3;
    transition: background 0.3s;
    text-align: center;
  
}

.menu a:hover {
    background: #E0E0E0;
}


/* Responsividade */
@media (max-width: 768px) {
    .pagina {
        flex-direction: column;
        align-items: center;
    }
}

.botao {
    display: inline-block; /* Para permitir espaçamento */
    background-color: #38184C; /* Cor do botão */
    color:#FFFFFF;
    ; /* Cor do texto do botão */
    padding: 15px 30px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    text-decoration: none; /* Sem decoração no texto */
    font-weight: bold; /* Negrito */
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Margem superior */
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

.botao:hover {
    background-color: #4E2A6A; /* Cor do botão ao passar o mouse */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
}
.botao-container-equipe {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Margem superior para espaçamento */
}
