footer { 
    background-color: #b1b5b9; /* Cor de fundo cinza claro */
    padding: 20px; /* Espaçamento interno */
}

.botao-container { 
    margin-bottom: 15px; /* Espaço abaixo do botão */
    text-align: center; /* Centralizar o botão */
}

.footer-content { 
    display: flex; /* Usar flexbox para o layout */
    align-items: flex-start; /* Alinhar itens no topo */
    justify-content: space-between; /* Espaço entre os elementos */
    max-width: 1200px; /* Largura máxima do rodapé */
    margin: 0 auto; /* Centralizar o rodapé */
    flex-wrap: wrap; /* Permitir quebra de linha */
}

.texto { 
    flex: 1; /* O texto ocupará o espaço restante */
    text-align: left; /* Alinhar o texto à esquerda */
    margin-right: 20px; /* Espaço à direita do texto */
}

footer a { 
    text-decoration: none; /* Remove o sublinhado do texto dos links */
    color: #003366; /* Mantenha a cor do texto do link */
}

footer p { 
    font-size: 15px; /* Tamanho da fonte do texto */
    color: #000000; /* Cor do texto */
    margin: 10px 0; /* Margem vertical */
}

.logo-container { 
    margin-left: auto; /* Empurrar a logo para a direita */
    text-align: center; /* Alinhar texto e imagem ao centro */
    margin-right: 30px;
    margin-top: -30px;
}

footer img { 
    max-width: 100px; /* Largura máxima da imagem */
    height: auto; /* Altura automática para manter a proporção */
    display: block; /* Make image a block element */
    margin: 0 auto; /* Centralizar a imagem */
}

.logo-container p {
    font-size: 12px; /* Tamanho da fonte abaixo da logo */
    color: #000000; /* Cor do texto */
    margin-top: 10px; /* Margem superior */
    text-align: center; /* Texto centralizado */
}
