/* Estilos para Formulários e Opções */
.form-group {
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-wrap: wrap;
}

.option-item {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    margin-right: 5px;
}


    .container {
        padding-right: 0;
        text-align: center;
    }

    .imagem {
        margin-left: 0;
        margin-top: 20px;
    }
