<!-- Carregar arquivos estáticos -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<!-- Rodapé -->
<footer>
    <div class="botao-container">
        <a href="{% url 'politicas.privacidade' %}" class="botao-termos">Termos e condições de uso do site</a>
    </div>
    <div class="footer-content">
        <div class="texto">
            <p><b>Atenção:</b> Este site e seus conteúdos têm o objetivo de informar e auxiliar na compreensão do <br> burnout e do estresse.  
               No entanto, eles não substituem o diagnóstico e o tratamento realizado <br> por profissionais qualificados.  
               Recomendamos que, em caso de sintomas persistentes ou <br> preocupações com sua saúde mental, você procure 
               orientação médica ou psicológica.</p>
        </div>
        <div class="logo-container">
            <img src="{% static 'images/podcast-logo.png' %}" alt="Logo">
            <p>Simulação de Projetos Ágeis,<br> iniciativa do podcast Pipoca Ágil.</p>
        </div>
    </div>
</footer>
