<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sintonize</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Política de Privacidade</h1>
    
    <h2>1. Coleta de Dados:</h2>
    <p>Nosso site não coleta informações pessoais dos usuários.</p>
    <p>Não usamos cookies de rastreamento ou outras tecnologias para monitorar sua atividade.</p>

    <h2>2. Uso de Cookies:</h2>
    <p>Não utilizamos cookies persistentes ou de terceiros.</p>
    <p>Cookies de sessão podem ser usados apenas para melhorar a experiência de navegação.</p>

    <h2>3. Compartilhamento de Informações:</h2>
    <p>Não compartilhamos dados com terceiros.</p>
    <p>Não vendemos informações pessoais.</p>

    <h1>Termos de Uso</h1>

    <h2>1. Uso do Site:</h2>
    <p>O uso deste site é gratuito e voluntário.</p>
    <p>Os usuários concordam em não violar as leis aplicáveis.</p>

    <h2>2. Responsabilidade:</h2>
    <p>Não nos responsabilizamos por danos ou perdas decorrentes do uso do site.</p>
    <p>Os usuários devem usar o site de forma responsável e ética.</p>

    <h2>3. Alterações nos Termos:</h2>
    <p>Reservamo-nos o direito de atualizar estes termos sem aviso prévio.</p>

</body>
</html>