<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/sondagem.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <title>Sondagem sobre Burnout</title>
</head>
<body>

<header id="header">
    <nav class="menu">
        <ul id="menu-list">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'sondagem' %}">Sondagem sobre Burnout</a></li>
        </ul>
    </nav>
</header>

<div class="pagina" id="pagina">
    <div class="container" id="container-principal">
        <h1 class="titulo" id="titulo-qualidade-vida">Como está sua qualidade de vida no trabalho?</h1>
        
        <p class="informacao" id="informacao-conteudo">
            (Conteúdo elaborado pelo ministério público do Piauí em conjunto com o projeto Bem Viver no MPPI)
        </p>

        <p class="descricao-perguntas" id="descricao-perguntas">
            Para compreender a Síndrome de Burnout, é importante identificar o seu nível de Qualidade de Vida no Trabalho (QVT),
            haja vista que os fatores que causam o seu desenvolvimento estão atrelados a um ambiente de trabalho disfuncional.</br>
            A seguir, vamos apresentar alguns questionamentos sobre como você se sente a respeito da sua qualidade de vida no trabalho (QVT). Tenha em mente seus valores, aspirações, prazeres e preocupações ao responder. Essas perguntas se referem ao que está acontecendo na sua vida no momento presente.
        </p>

        <div class="questions-container" id="questions-container">
            <div class="question-item">Em relação ao seu relacionamento com colegas e gestores no seu trabalho, como você se sente?</div>
            <div class="question-item">O quanto você está satisfeito com a valorização de suas ideias e iniciativas no trabalho?</div>
            <div class="question-item">O quanto você está satisfeito com a sua jornada de trabalho semanal (quantidade de horas trabalhadas) e as condições de trabalho?</div>
            <div class="question-item">O quanto você está satisfeito com as remunerações, recompensas e a participação em resultados que você recebe da empresa?</div>
            <div class="question-item">Você está satisfeito com a autonomia (como tomar decisões) e a importância do seu trabalho (como reconhecimento das tarefas)?</div>
            
            <div class="question-item">O quanto você está satisfeito com a influência do trabalho sobre sua vida/rotina familiar, bem como nos horários de lazer e descanso?</div>
        </div>
        <p class="text-color">
            Observando as suas respostas, tente identificar, de maneira geral, qual o seu grau de satisfação com a sua vida profissional na perspectiva da Qualidade de Vida no Trabalho. Após a reflexão acerca das perguntas apresentadas, você consideraria que as suas respostas, em sua maioria, se enquadram como:
        </p>

        <div class="image-container" id="image-container">
            <img src="{% static 'images/regua.png' %}" alt="Régua de Emoções" style="max-width: 100%; height: auto;">
        </div>

        <p class="text-color">
            Nosso objetivo com este conteúdo está longe de esgotar todo o conteúdo acerca dos processos de causas e efeitos da Síndrome de Burnout. Muito menos em proporcionar diagnósticos. A partir dessa atividade realizada foi possível uma auto-observação, por meio de uma visão um pouco mais sistêmica e estruturada acerca da influência que o sistema organizacional está afetando o equilíbrio da sua saúde como um todo. Nesse sentido, ressaltamos:
        </p>
        <p class="importante">
            É de extrema importância buscar profissionais da saúde ao aparecerem sinais correlacionados a essa síndrome, de modo a evitar que complicações posteriores possam surgir.
        </p>
        
    </div>
</div>


</body>
</html>
